{
   "trailingComma": "es5",
   "tabWidth": 3,
   "semi": true,
   "singleQuote": false,
   "endOfLine": "lf",
   "tailwindStylesheet": "./src/assets/styles/globals.css",
   "plugins": ["prettier-plugin-tailwindcss"]
}
